html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #4e4f55;
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

#head {
    height: 50px;
    background-color: #b0b0b0;
    color: #222325;
    border-bottom: 2px #222325 solid;
}

#title {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    font-size: 18px;
    display: inline-block;
}

#busyindicator {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.busybox {
    border: 3px #fff solid;
    background-color: #222325;
    min-width: 300px;
    height: 30px;
    text-align: center;
    padding: 10px;
    opacity: 0.7;
    font-size: 13pt;
    color: #fff;
    margin-top: 10px;
}

.view .viewcontent{
    background-color: #222325;
    color: #B0B0B0;
    border: #B0B0B0 1px solid;
    max-height: 90%;
    min-width: 300px;
    min-height: 50px;
    text-align: center;
    opacity: 0.7;
    padding: 5px;
    max-width: 95%;
    overflow: auto;
}

.view .viewcontent:hover{
    opacity: 1;
}

.view .viewheader {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

input {
    background-color: #ddd;
    border: 1px #B0B0B0 solid;
    margin: 1px;
}

button {
    background-color: #B0B0B0;
    color: #222325;
    border: 1px #ddd solid;
    border-radius: 4px;
    margin: 0px 5px 0px 2px;
}

.view {
    float: right;
}

.view .viewcontent {
    display: none;
}

.view .viewshown .viewcontent {
    display: block;
    position: absolute;
    right: 0;
    top: 52px;
    padding-right: 20px;
}

.view .viewshown .viewheader {
    color: #b0b0b0;
    background-color: #222325;
}

#mainview {
    height: calc(100% - 55px);
    height: -moz-calc(100% - 55px);
    height: -webkit-calc(100% - 55px);
    width: 100%;
    overflow: auto;
    z-index: 10;
    background-color: #222325;
}

.filtercontainer {
    margin-bottom: 3px;
    width: 660px;
    color: #333;
    border: 1px solid #ddd;
    background-color: #b0b0b0;
}

.tablehead {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
}

.tablehead button {
    border-width: 0;
    font-weight: bold;
    min-width: 30px;
}

.tableentry {
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
    padding: 8px;
}

.filterinput{
    width: 648px;
    height: 400px;
    text-align: left;
}

.filterdescription{
    width: 535px;
}

.filtererror {
    width: 648px;
    color: #ff0000;
}

.filterinput.filterchanged {
    /* background-color: #ffffcc; */
}

.filterinput.errorinput {
    background-color: #ffcccc;
}

rect.mainview_block {
    stroke: #000000;
    stroke-width: 1px;
    fill-opacity: 0.7;
    stroke-opacity: 0.1;
}

rect.mainview_selected {
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke: #fff;
    stroke-width: 8px;
}

.propertytable {
    margin-bottom: 3px;
    width: 660px;
    color: #333;
    border: 1px solid #ddd;
    background-color: #b0b0b0;
}

.propertytable th {
    text-align: right;
    font-weight: normal;
}

.propertytable td {
    text-align: left;
    font-family: "Courier New", courier, monospace;
}

.propertytable tr:hover th, .propertytable tr:hover td {
    background-color: #ebebeb;
}

#eventcount {
    float: right;
    margin: 20px 5px 0 0;
    font-size: 11px;
}

.lineevent {
    stroke: #fff;
    stroke-width: 300px;
}

/* file events: green */
.event_FileAccessEvent {
    fill: #54cc52;
}

.event_AnonymousFileAccessEvent {
    fill: #99cc52;
}

.event_UnknownFdEvent {
    fill: #52cc8b;
}

.event_DeletePathEvent {
    fill: #52ccad;
}

.event_CreateDirEvent {
    fill: #6ecc82;
}

/* network events: blue */
.event_SocketEvent {
    fill: #8e73e6;
}

.event_SocketAcceptEvent {
    fill: #60a1b3;
}

/* potentially malicious behaviour: bright */
.event_SendSMSEvent {
    fill: #d6ff02;
}

.event_APKInstallEvent {
    fill: #fff300;
}

.event_SMSAccessEvent {
    fill: #ffb800;
}
.event_CommandExecuteEvent {
    fill: #ff8500;
}
.event_SuperUserRequestEvent {
    fill: #ff4600;
}

.event_MountEvent {
    fill: #ff3000;
}

.event_PhoneCallEvent {
    fill: #ff0000;
}

.event_CallLogAccessEvent {
    fill: #ff0081;
}
.event_ContactAccessEvent {
    fill: #ff00e8;
}

/* low-level events: dark */
.event_ExecEvent {
    fill: #483273;
}

.event_AndroidApicallEvent {
    fill: #3a5766;
}

.event_SendSignalEvent {
    fill: #323a63;
}

.event_MemoryMapEvent {
    fill: #1e512b;
}

.event_StartTaskEvent {
    fill: #1d6d19;
}

.event_SyscallEvent {
    fill: #687221;
}

.event_LibraryLoadEvent {
    fill: #634d17;
}

.event_JavaLibraryLoadEvent {
    fill: #426f1d;
}

/* caused by ANANAS: red */
.event_ANANASAdbShellExecEvent {
    fill: #79000f;
}

.event_ANANASEvent {
    stroke: #793d00;
}






