body {
    background: #DDDDDD;
    margin: 0;
    width: 100%;
}

#mainview {
    height: 530px;
    width: 99%;
    overflow: auto;
    z-index: 10;
    background-color: #FFFFFF;
}

.filterinput{
    width: 300px;
}

.filterinput.errorinput {
    background-color: #ffcccc;
}
